body {
    font-size: 16px;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

h1, h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

a {
    color: #ff8f1e;
    text-decoration: none !important;
    border: none !important;
    position: relative;
    cursor: pointer;
}

img {
    border-radius: 12px;
    box-shadow: 0 0 12px #d5d5d5;
}

li {
    list-style-type: none;
}

.container{
    display: flex;
    margin: 16px;
}

.profile__info {
    padding-left: 0;
    margin: 0;
}

.profile__info__item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile__info__item > .item {
    padding: 4px;
    margin: 0;
}

.profile__avatar {
    border-radius: 100%;
}

.profile__about_me {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 32px;
    height: max-content;
    border-radius: 12px;
    box-shadow: 0 0 12px #d5d5d5;
    background: white;
}

.profile__splitter{
    height: 1px;
    margin: 32px 0px 32px 0;
    width: 100%;
    background: #e7e6e6;
}

.labs__list_container {
    border-radius: 12px;
    box-shadow: 0 0 12px #d5d5d5;
    background: white;
    margin-left: 18px;
    width: 100%;
    height: max-content;
}

.labs__list {
    padding: 0 16px 0 16px;
}

.labs__list__item {
    padding: 16px;
    margin-bottom: 0;
    border-radius: 12px;
}

.labs__list__item p {
    color: gray;
    margin: 16px 0 0 0;
}

.labs__list__item h2 {
    margin: 0;
    width: max-content;
}

.gray {
    background: #f7f7f8;
}

.labs__list__label {
    margin: 32px;
}

.labs__list__item > .item__label {
    display: flex;
    align-items: center;
}

a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1.5px; /* Высота линии */
    background-color: gray; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.5px; /* Высота линии */
    background-color: #ff8f1e; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

button {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
}

.interactive_plus {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.interactive_plus_hided {
    pointer-events: none;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition:         transform .4s ease-in-out;
}

.hide {
    display: none;
}

.appearance_description {
    display: block;
    animation-duration: 1s;
    animation-name: appear;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Bold.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Light.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}